.features{
  background: #f3f3f3
}

.blocks {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 150px;
  text-align: center;
  flex-basis: 50px;
  padding-bottom: 20px;
}

.features-block {
  padding: 10px;
  width: 200px;
}
